.container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(4, auto);
	gap: 3rem;
	// justify-content: center;
	margin: 1.5rem auto;
	max-width: 240rem;
	padding: 0 1.5rem;
}
