.navigation {
	&__nav {
		display: grid;
		grid-template-rows: repeat(3, auto);
		justify-items: center;
		color: white;
		background-color: $color-primary-dark;
		border-radius: 4rem;
	}
	&__logo {
		padding: 4.5rem 2.5rem;
		font-size: 18px;
		font-weight: bold;
		color: white;
		text-decoration: none;
	}
	&__list {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	&__item {
		color: #fff;
		padding: 36px 18px;
		&:first-child {
			padding-top: 0;
		}
	}

	&__link {
		color: white;
		text-decoration: none;
	}
}
