nav.navigation__nav
    a.navigation__logo(href="#") Sakura
    ul.navigation__list
        li.navigation__item
            a.navigation__link.fas.fa-wind(href="#") 
        li.navigation__item
            a.navigation__link.fas.fa-tv(href="#")
        li.navigation__item
            a.navigation__link.far.fa-folder(href="#")
        li.navigation__item
            a.navigation__link.fas.fa-sliders-h(href="#")
        li.navigation__item
            a.navigation__link.fas.fa-lock(href="#") 
        li.navigation__item
            a.navigation__link.far.fa-envelope(href="#")
        li.navigation__item
    a.navigation__logout.fas.fa-sign-out-alt#logout(href="#")    