doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Sakura Dashboard
        //- link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/alphardex/aqua.css/dist/aqua.min.css')
        link(rel="stylesheet", href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.2/css/all.min.css")
        link(rel='stylesheet', href='css/style.css')
    body
    main.container
        nav.navigation__nav
            a.navigation__logo(href="#") Sakura
            ul.navigation__list
                li.navigation__item
                    a.navigation__link.fas.fa-wind(href="#") 
                li.navigation__item
                    a.navigation__link.fas.fa-tv(href="#")
                li.navigation__item
                    a.navigation__link.far.fa-folder(href="#")
                li.navigation__item
                    a.navigation__link.fas.fa-sliders-h(href="#")
                li.navigation__item
                    a.navigation__link.fas.fa-lock(href="#") 
                li.navigation__item
                    a.navigation__link.far.fa-envelope(href="#")
                li.navigation__item
                    a.navigation__link.fas.fa-sign-out-alt(href="#")
        div.dashboard__view
            header.welcome__banner
                h1.heading-primary 
                    span.heading-primary--main Hi,Harris Shelby!
                    span.heading-primary--sub Welcome back, Sir!
            section.section-monthly
                div.section-titlebox
                    div.section-titlebox--main
                        h2.heading-secondary Mar 22-28
                        div.btn-group
                            button.btn.btn-danger.btn-round
                                i.fas.fa-chevron-left
                            button.btn.btn-danger.btn-round
                                i.fas.fa-chevron-right               
                    div.section-titlebox--sub
                        button.btn.btn-secondary.btn-round.monthly
                            i.far.fa-calendar &nbsp; Month
                ul.section-timelinebox
                    li.section-timelinebox__item.warning
                        div.day Mon
                        div.day-number 22
                        div.day-dot
                    li.section-timelinebox__item.primary
                        div.day Tue
                        div.day-number 23
                        div.day-dot
                    li.section-timelinebox__item.danger
                        div.day Wed
                        div.day-number 24
                        div.day-dot
                    li.section-timelinebox__item.active
                        div.day Thu
                        div.day-number 25
                        div.day-dot
                    li.section-timelinebox__item.warning
                        div.day Fri
                        div.day-number 26
                        div.day-dot
                    li.section-timelinebox__item.danger
                        div.day Sat
                        div.day-number 27
                        div.day-dot
                    li.section-timelinebox__item.primary
                        div.day Sun
                        div.day-number 28
                        div.day-dot
            section.section-weekly
                div.section-titlebox
                    div.section-titlebox--main
                        h2.heading-secondary Weekly Reports
                    div.section-titlebox--sub
                        div.options
                            span.options__item Today
                            span.options__item.active Week
                            span.options__item Month
                ul.overview-list
                    li.overview__item.warning.active
                        div.overview-icon 
                            i.far.fa-user
                        div.overview-name Users
                        div.overview-size 10 Pe
                    li.overview__item.danger
                        div.overview-icon 
                            i.far.fa-file
                        div.overview-name Pageviews
                        div.overview-size 10 Co
                    li.overview__item.primary
                        div.overview-icon 
                            i.fas.fa-desktop
                        div.overview-name Computer
                        div.overview-size 10 Co
                    li.overview__item.warning
                        div.overview-icon 
                            i.fab.fa-instagram
                        div.overview-name Mobile
                        div.overview-size 10 Co
            section.section-weekly
                div.section-titlebox
                    div.section-titlebox--main
                        h2.heading-secondary Updating Monitoring
                ul.monitor-list
                    li.monitor__item
                        div.monitor__item-textbox 
                            div.monitor-type System Files
                            div.monitor-date March 2020
                        div.monitor__item-gaugebox
                            a.gauge(href="#" style="--gauge-value: 25; --gauge-max-value: 100;")
                    li.monitor__item
                        div.monitor__item-textbox 
                            div.monitor-type Applications
                            div.monitor-date March 2020
                        div.monitor__item-gaugebox
                            a.gauge(href="#" style="--gauge-value: 25; --gauge-max-value: 100;")
        div.dashboard__controller happy too