/*
0-600px      Phone
600-900px    Table portrait
900-1200px   Table landscape
1200-1800px  normal
1800----     Desktop
*/
/**
$breakpoint
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout + components
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  max-width: 1920px;
  margin: 0 auto;
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.7;
  color: #565388; }

.heading-primary {
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 2rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; }
  .heading-primary--sub {
    display: block;
    font-size: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter; }

.heading-secondary {
  font-size: 18px;
  font-weight: lighter; }

.warning {
  --color: rgba(255, 206, 82, 1); }

.primary {
  --color: rgba(78, 192, 233, 1); }

.danger {
  --color: rgba(237, 84, 100, 1); }

.btn {
  color: #fff;
  padding: 9px 0;
  line-height: 1;
  border: none; }
  .btn-round {
    border-radius: 30px; }
  .btn-danger {
    background-color: #ed5464; }

.btn-group {
  margin-left: 24px; }
  .btn-group .btn:first-child {
    padding-left: 18px;
    padding-right: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .btn-group .btn:last-child {
    padding-left: 3px;
    padding-right: 18px;
    border-right: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.monthly {
  background-color: #f7f7fd;
  border: none;
  padding: 9px 18px;
  color: #565388; }

.monitor-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 0;
  margin: 0;
  list-style-type: none; }
  .monitor-list .active {
    color: white;
    background: #332a7c; }
    .monitor-list .active .gauge::before {
      color: white;
      background: #332a7c; }

.monitor__item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px; }
  .monitor__item-textbox {
    padding: 18px 0; }
    .monitor__item-textbox .monitor-type {
      font-weight: bold;
      white-space: nowrap;
      margin: 0 40px 18px 0; }
    .monitor__item-textbox .monitor-date {
      font-size: 14px;
      font-weight: lighter; }
  .monitor__item-gaugebox {
    padding: 0 0 0 40px;
    border-left: 1px solid #e7eaee; }
    .monitor__item-gaugebox .gauge {
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      position: relative;
      --gauge-percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
      color: #565388;
      font-weight: lighter;
      background: conic-gradient(#ed5464 var(--gauge-percentage), #f7f7fd 0);
      counter-reset: value var(--gauge-value); }
      .monitor__item-gaugebox .gauge::before {
        position: absolute;
        top: auto;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: inherit;
        width: 87%;
        height: 87%;
        content: counter(value) "%"; }

.options {
  display: flex; }
  .options__item {
    font-weight: lighter;
    font-size: 14px; }
  .options__item:not(.active) {
    opacity: 0.5; }
  .options__item:not(:last-child) {
    margin-right: 21px; }

.overview-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style-type: none; }

.overview__item.active {
  padding: 18px 3px 5px 3px;
  border: none;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
  .overview__item.active .overview-icon {
    background: var(--color);
    color: white; }
  .overview__item.active .overview-size {
    margin-top: 21px;
    padding: 18px 36px;
    color: white;
    background: var(--color);
    border-radius: 15px; }

.overview__item:not(.active) {
  max-height: 148px; }

.overview__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 18px 24px;
  border: 1px solid #e7eaee;
  border-radius: 20px; }
  .overview__item .overview-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
    width: 40px;
    height: 40px;
    border: 1px solid var(--color);
    border-radius: 10px; }
  .overview__item .overview-name {
    font-size: 14px;
    font-weight: lighter;
    margin-top: 18px;
    white-space: nowrap; }
  .overview__item .overview-size {
    margin-top: 9px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap; }

.statistics {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }

.accessers-list {
  display: grid;
  gap: 40px;
  padding: 30px 0 0 0;
  margin: 0;
  list-style-type: none; }
  .accessers-list__item {
    display: flex;
    align-items: center; }
    .accessers-list__item .User-agent {
      box-sizing: border-box;
      padding-right: 36px;
      max-width: 32px; }
    .accessers-list__item .progress-bar {
      height: 0.6rem;
      width: 300px;
      box-sizing: border-box;
      border-radius: 3px;
      appearance: none; }

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 6rem;
  margin: 1.5rem auto;
  max-width: 240rem;
  padding: 0 1.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0; } }
    @media (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.section-titlebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px 0; }
  .section-titlebox--main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center; }

.section-timelinebox {
  display: grid;
  grid-template-columns: repeat(7, auto);
  column-gap: 21px;
  padding: 18px 0;
  border: 1px solid #f7f7fd;
  border-left: none;
  border-right: none;
  list-style-type: none; }
  .section-timelinebox__item {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    padding: 16px 12px;
    border-radius: 20px; }
  .section-timelinebox .day {
    font-weight: bold;
    margin-bottom: 18px; }
  .section-timelinebox .day-number {
    margin-bottom: 8px;
    font-size: 1.5rem;
    font-weight: lighter; }
  .section-timelinebox .day-dot {
    width: 6px;
    height: 6px;
    color: var(--color);
    background: currentColor;
    border-radius: 50%; }
  .section-timelinebox .active {
    color: white;
    background: #ed5464;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04); }

.navigation__nav {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  color: white;
  background-color: #332a7c;
  border-radius: 4rem; }

.navigation__logo {
  padding: 4.5rem 2.5rem;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none; }

.navigation__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none; }

.navigation__item {
  color: #fff;
  padding: 36px 18px; }
  .navigation__item:first-child {
    padding-top: 0; }

.navigation__link {
  color: white;
  text-decoration: none; }

.welcome__banner {
  padding: 18px 36px;
  color: white;
  background: #fcba40;
  border-radius: 20px; }

.dashboard__controller {
  padding: 18px 48px;
  background: #f7f7fd;
  border-radius: 30px; }
