.monitor {
	&-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 32px;
		padding: 0;
		margin: 0;
		list-style-type: none;
		.active {
			color: white;
			background: rgba(51,42,124,1);
			.gauge::before {
				color: white;
				background: rgba(51,42,124,1);
			}
		}
	}

	&__item {
		display: grid;
		grid-template-columns: repeat(2, auto);
		align-items: center;
		padding: 15px 30px;
		box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
		border-radius: 20px;

		&-textbox {
			padding: 18px 0;
			.monitor-type {
				font-weight: bold;
				white-space: nowrap;
				margin: 0 40px 18px 0;
			}
			.monitor-date {
				font-size: 14px;
				font-weight: lighter;
			}
		}
		&-gaugebox {
			padding: 0 0 0 40px;
			border-left: 1px solid rgba(231, 234, 238, 1);

			.gauge {
				width: 70px;
				height: 70px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				position: relative;
				--gauge-percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
				color: rgba(86,83,136,1);
				font-weight: lighter;
				background: conic-gradient(rgba(237,84,100,1) var(--gauge-percentage),rgba(247,247,253,1) 0);
				counter-reset: value var(--gauge-value);
				
				&::before {
					position: absolute;
    				top: auto;
					left: auto;
					display: flex;
    				justify-content: center;
					align-items: center;
					background: white;
					border-radius: inherit;
					width: 87%;
    				height: 87%;
    				content: counter(value) "%";
				}
			}
		}
	}
}
