.overview {
	&-list {
		display: grid;
		grid-template-columns: repeat(4, auto);
		gap: 30px;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	&__item.active {
		padding: 18px 3px 5px 3px;
		border: none;
		box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
		.overview-icon {
			background: var(--color);
			color: white;
		}
		.overview-size {
			margin-top: 21px;
			padding: 18px 36px;
			color: white;
			background: var(--color);
			border-radius: 15px;
		}
	}
	&__item:not(.active) {
		max-height: 16rem;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		padding: 18px 24px;
		border: 1px solid rgba(231, 234, 238, 1);
		border-radius: 20px;

		.overview-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--color);
			width: 40px;
			height: 40px;
			border: 1px solid var(--color);
			border-radius: 10px;
		}
		.overview-name {
			font-size: 14px;
			font-weight: lighter;
			margin-top: 18px;
			white-space: nowrap;
		}
		.overview-size {
			margin-top: 9px;
			font-size: 18px;
			font-weight: bold;
			white-space: nowrap;
		}
	}
}
