.statistics {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1%);
}

.accessers-list {
    display: grid;
    grid-template-rows: repeat(7, auto);
    gap: 20px;
    // padding: 30px 0 0 0;
    margin: 0;
    list-style-type: none;
    // transform: rotate(-90deg);
    &__item {
        display: flex;
        align-items: center;
        .User-agent {
            font-size: 14px;
            font-weight: lighter;
            box-sizing: border-box;
            padding-right: 36px;
            max-width: 32px;
        }
        .progress-bar {
            height: 0.6rem;
            width: 300px;
            box-sizing: border-box;
            border-radius: 10px;
            // appearance: none;
            &::-webkit-progress-bar {
                background-color:rgba(247,247,253,1);
                border-radius: 7px;
            }
            &::-webkit-progress-value {
                background-color: rgba(78,192,233,1);
                border-radius: 7px;
            }
        }

    }
    .active {
        .User-agent {
            color: rgba(255,206,82,1);
        }
        .progress-bar {
            &::-webkit-progress-value {
                background-color: rgba(255,206,82,1);
                border-radius: 7px;
            }
        }
    }
}