.welcome__banner {
	padding: 18px 36px;
	color: white;
	background: $color-yellow-light;
	border-radius: 20px;
}

.section-monthly {
}

.dashboard__controller {
	padding: 18px 48px;
    background: rgba(247,247,253,1);
    border-radius: 30px;
}